<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.sinclairstudios.android.tutorialone"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="17" />
    <application
            android:label="@string/title_activity_main"
            android:icon="@drawable/ic_launcher">
        <activity
                android:name=".InputMessageActivity_"
                android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".DisplayMessageActivity_"
                android:label="@string/title_activity_display_message">
                android:parentActivityName="net.sinclairstudios.android.tutorialone.InputMessageActivity"
        </activity>
    </application>
</manifest>
